#heading_001 {
    font-size: 60px;
    line-height: 60px;
    margin-left: 20px;
    margin-top: 0px;
    word-wrap: break-word;
    margin-bottom: 0px;
    font-weight: bolder;
    color: #091e3f;
  }
  .heading_002 {
    font-size: 55px;
    line-height: 48px;
    margin-left: 20px;
    margin-top: 0px;
    word-wrap: break-word;
    margin-bottom: 0px;
    font-weight: bolder;
    color: #091e3f;
  }
  .heading_003 {
    font-size: 55px;
    line-height: 48px;
    margin-left: 20px;
    margin-top: 10px;
    text-align: center;
    word-wrap: break-word;
    margin-bottom: 0px;
    font-weight: bolder;
    color: #091e3f;
  }
  .digital_communications {
    width: 70%;
    margin: auto;
    padding-top: 185px;
  }
  .digital_communications > .dream {
    margin-top: 40px;
    text-align: center;
  }
  #text-container > .blueButton1 {
    width: 170px;
    height: 60px;
    background-color: #0092ff;
    border: 0px solid #0092ff;
    border-radius: 30px;
    margin-top: 60px;
    margin-left: 16px;
    color: white;
    font-size: 17px;
    font-weight: bold;
  }
  @media only screen and (min-width: 992px) {
    #gotYou {
      width: 55%;
      height: 450px;
      padding-left: 15px;
      padding-top: 190px;
    }
    #growfaster {
      width: 45%;
      height: fit-content;
      padding-left: 70px;
      padding-top: 100px;
      margin-top: 5%;
    }
    .build-container {
      display: flex;
      flex-direction: row;
    }
    #buildStronger {
      width: 44%;
      padding-top: 80px;
      padding-left: 50px;
    }
    .growfaster_image {
      margin-top: 100px;
      margin-left: 60px;
      text-align: center;
    }
    .build_image {
      width: 37%;
      margin-left: 10%;
    }
    #houston_div {
      display: flex;
      flex-direction: row;
      width: 95%;
      margin: auto;
    }
    .build_image > img {
      width: 470px;
    }
    #intro {
      display: grid;
      height: 140px;
      width: 70%;
      margin-left: 20px;
      grid-template-columns: auto auto;
    }
    #gotYou_video {
      height: 500px;
      width: 40%;
      margin-top: 150px;
    }
    .grow-container {
      display: flex;
      flex-direction: row;
    }
  
    .flex-container {
      display: flex;
      flex-direction: row;
    }
    .blueButton {
      margin-left: 150px;
    }
    .pedal_div {
      display: flex;
      flex-direction: row;
    }
    .pink_div {
      display: flex;
      flex-direction: row;
    }
    .colourful_boxes {
      width: 90%;
      height: 1640px;
      margin: auto;
      display: grid;
      grid-template-columns: auto auto auto;
    }
    #pink_div {
      width: 71.4%;
    }
    .heading_004 {
      font-size: 55px;
    }
  }
  @media only screen and (max-width: 992px) {
    #heading_001 {
      font-size: 62px;
    }
    #gotYou {
      width: auto;
      height: 250px;
      padding-left: 15px;
      padding-top: 190px;
    }
    #gotYou_video {
      height: 640px;
      width: 50%;
      margin-top: 10%;
      margin: auto;
    }
    .growfaster_image > img {
      margin-top: 0px;
      margin-left: 170px;
    }
    .build_image {
      width: 55%;
      margin: auto;
    }
    #intro {
      display: grid;
      height: 140px;
      width: 100%;
      margin-left: 20px;
      grid-template-columns: auto auto;
    }
    .flex-container {
      display: flex;
      flex-direction: column;
    }
    #pink_div {
      width: 100%;
    }
    .text_pink {
      width: 100%;
  
      left: 0px;
      z-index: 99;
    }
    .pedal_div {
      padding: 50px;
      display: flex;
      flex-direction: column;
    }
    .pedal_div > img {
      margin-left: 45%;
    }
    .pedal_div > img + h2 {
      width: 60%;
      align-items: center;
      margin: auto;
      margin-top: 40px;
    }
    .blueButton {
      margin-left: 35%;
    }
    .colourful_boxes {
      width: 100%;
      height: 1640px;
      margin: auto;
      display: grid;
      grid-template-columns: auto auto auto;
    }
  
    #pink_div > .pink_img {
      margin-left: 100px;
    }
    #pink_div > .pink_img > img {
      width: 400px;
    }
    .heading_004 {
      font-size: 55px;
    }
  }
  @media only screen and (max-width: 786px) {
    #heading_001 {
      font-size: 62px;
    }
    #gotYou {
      width: auto;
      height: 350px;
      padding-left: 15px;
      padding-top: 190px;
    }
    #gotYou_video {
      height: 640px;
      width: 50%;
      margin-top: 10%;
      margin: auto;
    }
    #intro {
      display: grid;
      height: 140px;
      width: 100%;
      margin-left: 20px;
      grid-template-columns: auto auto;
    }
    #growfaster {
      display: flex;
      flex-direction: column;
    }
    .growfaster_image > img {
      margin-top: 0px;
      margin-left: 90px;
    }
    #text-container > .blueButton {
      width: 250px;
      height: 55px;
      background-color: #0092ff;
      border: 0px solid #0092ff;
      border-radius: 30px;
      margin-top: 60px;
      margin-left: 16px;
      color: white;
      font-size: 17px;
      font-weight: bold;
    }
    .build_image {
      width: 55%;
      margin-left: 5%;
    }
    .grow-container {
      display: flex;
      flex-direction: column;
    }
    .flex-container {
      display: flex;
      flex-direction: column;
    }
    .need > h2 {
      font-size: 30px;
    }
    #houston_div {
      display: flex;
      flex-direction: column;
      width: 100%;
      text-align: center;
      margin: auto;
    }
    #houston_div > .img {
      width: 37%;
      height: 240px;
      border-radius: 50%;
      padding-top: 20px;
      padding-right: 20px;
      margin-right: -150px;
    }
    #text-container > h2 {
      color: #091e3f;
      text-align: center;
      width: 80%;
      line-height: 35px;
      font-size: 35px;
      margin-bottom: 22px;
      margin-right: -90px;
    }
    .cl {
      margin-left: -60px;
    }
    #houston_div > div > h2 + .blueButton {
      margin-top: 10px;
      margin-left: 0p;
    }
    #text-container {
      margin-left: 85px;
      padding-left: 0%;
    }
    #zen {
      width: auto;
      background-color: #ffd9d4;
      padding-top: 65px;
      padding-bottom: 45px;
    }
    .pedal_div {
      display: flex;
      flex-direction: column;
    }
    .pedal_div > img {
      margin-left: 40%;
    }
    .blueButton {
      margin-left: 25%;
    }
    #pink_div {
      flex-wrap: wrap;
      width: 100%;
    }
    #pink_div > .pink_img > img {
      margin-left: 170px;
    }
    #pink_div > .text_pink {
      margin-left: 60px;
      width: 90%;
    }
    #pink_div > .text_pink > p {
      text-align: center;
    }
    #pink_div > .text_pink > .link_flex {
      width: 40%;
      margin: auto;
    }
    .heading_004 {
      font-size: 50px;
      text-align: center;
    }
    .colourful_boxes {
      width: 100%;
      height: 1640px;
      margin: auto;
      display: grid;
      grid-template-columns: auto auto;
    }
    #zen {
      margin-top: 800px;
    }
  }
  @media only screen and (max-width: 595px) {
    #heading_001 {
      font-size: 62px;
    }
    #gotYou {
      width: auto;
      height: 450px;
      padding-left: 15px;
      padding-top: 190px;
    }
    #gotYou_video {
      height: 640px;
      width: 70%;
      margin-top: 10%;
      margin: auto;
    }
    .growfaster_image {
      padding-left: 1px;
    }
    #intro {
      display: grid;
      height: 140px;
      width: 100%;
      margin-left: 20px;
      grid-template-columns: auto auto;
    }
    .build_image {
      width: 55%;
      margin-left: 10px;
    }
    .flex-container {
      display: flex;
      flex-direction: column;
    }
    .pedal_div {
      display: flex;
      flex-direction: column;
    }
    .blueButton {
      margin-left: 15%;
    }
    .pink_div {
      display: flex;
      flex-direction: column;
    }
    .colourful_boxes {
      width: 100%;
      height: 1640px;
      margin: auto;
      display: grid;
      grid-template-columns: auto;
    }
    #zen {
      margin-top: 3390px;
    }
    .heading_004 {
      font-size: 30px;
      text-align: left;
    }
    #pink_div {
      flex-wrap: wrap;
      width: 100%;
    }
    #pink_div > .pink_img > img {
      margin-left: 20px;
    }
    #pink_div > .text_pink {
      margin-left: 10px;
      width: 90%;
    }
    #pink_div > .text_pink > p {
      text-align: left;
    }
    #pink_div > .text_pink > .link_flex {
      width: 50%;
      margin-left: 10px;
    }
  }
  .intro_text {
    font-size: 20px;
    line-height: 30px;
    color: #606469;
    word-wrap: break-word;
    font-family: "Open Sans", sans-serif;
    margin-top: 42px;
    padding-left: 30px;
  }
  .dream {
    font-size: 16px;
    margin-top: 80px;
    padding-left: 22px;
    color: #606469;
    word-wrap: break-word;
    font-family: "Open Sans", sans-serif;
    line-height: 28px;
  }
  .yellowLine {
    border-left: 3px solid #ffd201;
  }
  .heading_004 {
    line-height: 50px;
    margin-left: 20px;
    margin-top: 0px;
    word-wrap: break-word;
    margin-bottom: 0px;
    font-weight: bolder;
    color: #091e3f;
  }
  .heading_004 + p {
    margin-top: 85px;
  }
  .text_pink {
    width: 53%;
    margin-top: 80px;
    margin-left: 20px;
  }
  .customize {
    width: 90%;
    margin-top: 50px;
  }
  .learn_link {
    font-size: 16px;
    line-height: 22px;
    font-family: "Open Sans", sans-serif;
    font-weight: bold;
    color: #0098f7;
    margin-left: 10px;
  }
  .link_flex {
    display: flex;
    flex-direction: row;
    margin-top: 20px;
  }
  .link_flex > img {
    width: 26px;
    height: 15px;
    margin-top: 19px;
    border-radius: 50%;
  }
  #pink_div {
    height: fit-content;
    background-color: #fcd6d1;
    margin: auto;
    padding-right: 20px;
    margin-top: 300px;
    padding-bottom: 90px;
    margin-bottom: 200px;
    display: flex;
    flex-direction: row;
  }
  .pink_img {
    margin-top: 80px;
    margin-left: -95px;
    width: 50%;
  }
  .pedal {
    width: 85%;
    margin-top: 30%;
    margin: auto;
  }
  .pedal > hr {
    color: #cccccc;
    height: 1px;
  }
  .pedal_div {
    padding: 50px;
  }
  .pedal_div > h2 {
    padding-left: 20px;
    padding-right: 20px;
    margin-top: 0px;
    margin-bottom: 0px;
    font-size: 35px;
    color: #091e3f;
    font-weight: bold;
    margin-left: 20%;
    width: 30%;
  }
  .pedal_div > img {
    width: 100px;
    height: 100px;
    border: 1px solid #cccccc;
    border-radius: 50%;
  }
  .blueButton {
    width: 250px;
    height: 50px;
    background-color: #0092ff;
    border: 0px solid #0092ff;
    border-radius: 30px;
    margin-top: 35px;
  
    color: white;
    font-size: 17px;
    font-weight: bold;
  }
  .need > h2 {
    font-size: 50px;
    line-height: 50px;
    color: #091e3f;
    text-align: center;
    width: 50%;
    margin: auto;
  }
  
  .colourful_boxes > div,
  .six {
    height: 820px;
    width: 100%;
  }
  #zen {
    height: fit-content;
    width: auto;
    background-color: #ffd9d4;
    padding-top: 65px;
    padding-bottom: 30px;
  }
  #houston_div > .img {
    width: 35%;
    height: 300px;
    border-radius: 50%;
    padding-top: 20px;
    padding-right: 20px;
    margin-left: 72px;
  }
  #text-container {
    margin-left: 60px;
  }
  .cl {
    margin-left: 20px;
    padding-left: 0px;
    margin-top: 0px;
    margin-bottom: 0px;
    margin-left: -20px;
  }
  #text-container > h2 {
    color: #091e3f;
    text-align: left;
    width: 80%;
    line-height: 50px;
    font-size: 52px;
    margin-bottom: 22px;
  }
  #houston_div > div > button {
    margin-top: -10px;
    margin-left: 5px;
  }
  .details > img {
    margin-top: 25px;
    width: 57px;
    height: 35px;
  }
  .pics {
    width: 250px;
    height: 450px;
    margin-left: 20px;
  }
  .para {
    font-size: 18px;
    padding-left: 22px;
    color: #606469;
    word-wrap: break-word;
    font-family: "Open Sans", sans-serif;
    line-height: 30px;
    width: 70%;
    height: 150px;
    margin: auto;
    margin-top: 20px;
  }
  .head {
    width: 150px;
    height: 30px;
    font-size: 13px;
    font-family: "Open Sans", sans-serif;
    font-weight: bolder;
    padding-bottom: 12px;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 110px;
    border: 1px solid white;
    border-radius: 5px;
    background-color: white;
    align-items: center;
  }
  .head > p {
    text-align: center;
    color: #091e3f;
  }
  .one {
    background-color: #ffd9d4;
  }
  .two {
    background-color: #0092ff;
  }
  .three {
    background-color: #044a75;
  }
  .four {
    background-color: #ffd201;
  }
  .five {
    background-color: #091e3f;
  }
  .six {
    background-color: #eeeceb;
  }
  .two > .para,
  .two > .details > .nameOfCus > p,
  .three > .para,
  .three > .details > .nameOfCus > p,
  .five > .para,
  .five > .details > .nameOfCus > p {
    color: white;
  }
  .colourful_boxes > div > .head + img {
    width: 270px;
    height: 410px;
  }
  .pics {
    margin-left: 50px;
  }
  .details {
    display: flex;
    flex-direction: row;
    margin-left: 40px;
    margin-top: 25px;
  }
  .details > img {
    margin-top: 40px;
    width: 57px;
    height: 35px;
  }
  .nameOfCus {
    margin-top: 10px;
    margin-left: 10px;
  }
  .nameOfCus > p:first-child {
    font-size: 18px;
    font-weight: bold;
    color: #091e3f;
    font-family: "Open Sans", sans-serif;
    margin-bottom: 2px;
  }
  .nameOfCus > p:last-child {
    font-size: 15px;
    color: #091e3f;
    font-weight: 700;
    font-family: "Open Sans", sans-serif;
    margin-top: 0px;
  }